.container{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
}

.bola-escollha-input {
    display: none;
    position: absolute;
    z-index: 2;
}

.principal > li {
    display: inline-block;
}


.pai {
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.absoluto {
    position: absolute;
}

label > div > div.radio-bola {
    top: 0px;
    right: 0px;
    width: 3.5rem;
    height: 3.5rem;
    border: solid;
    border-color: rgb(18, 177, 18);
    position: none;
    background-color: black;
    color: black;
    font-size: 10px;
    border-radius: 1rem;
    cursor: pointer;
}

label > img {
    padding: 0.5rem;
    background-color: white;
    margin: 1rem;
    width: 25rem;
    /* min-width: 25rem; */
    cursor: pointer;
    border-radius: 2rem;
}

li > input[type="radio"]:checked + label > div > div.radio-bola {
    border-color: rgb(18, 177, 18);
    background-color: rgb(18, 177, 18);
    cursor: pointer;
}

li > input[type="radio"]:checked + label > div > div > svg > path {
    fill: white;
}

.escolha-criar {
    max-width: 1000px;
    background-color: #242424;
    margin: 10px;
    border-radius: 2rem;
    padding: 1rem;
}


.button-avancar{
    background-color: green;
    width: 23vw;
    height: 10rem;
    margin: 10px;
    border-radius: 2rem;
    font-size: 22px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avancar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20rem;
    height: 1px;
    bottom: 40rem;
}

.lateral-criar {
    width: 23vw;
    height: 30.1vw;
    background-color: #242424;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
}

.lateral-criar > div > div {
    width: 15rem;
    height: 15rem;
    background-color: white;
    /* margin: 2rem; */
    float: left;
    border-radius: 2rem;
}

.nome-bola-escolha {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.descricao-bola{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
}

.lateral-criar > div{
    width: 30vw;
    height: fit-content;
    background-color: gray;
    margin: 3rem;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 2rem;
}

.progresso-criar-bola{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 5rem;
    background-color: #242424;
    width: calc(97.5vw - 3px);
    height: 20rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.place-holder {
    background-color: #535353;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin: 0 auto;
}

/* .progresso-linha{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 5rem;
    width: calc(97.5vw - 3px);

} */

.title-creation {
    font-size: 28px;
    color: white;
    height: calc(10rem + 10px);
    display: flex;
    align-items: center;
    margin-left: 11px;
}

.next-simbol {
    width: 30px;
}

.showcase-lista{
    max-width: 1000px;
    background-color: #242424;
    margin: 10px;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.showcase-cor {
    width: calc(74.25vw / 3);
    
}

.preview {
    width: 200px;
}