.container{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
}

.bola-escollha-input {
    display: none;
    position: absolute;
    z-index: 2;
}

li.produtos {
    display: inline-block;
}

.pai {
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.absoluto {
    position: absolute;
}

label > div > div.radio-bola {
    top: 0px;
    right: 0px;
    width: 3.5rem;
    height: 3.5rem;
    border: solid;
    border-color: rgb(18, 177, 18);
    position: none;
    background-color: black;
    color: black;
    font-size: 10px;
    border-radius: 1rem;
    cursor: pointer;

}

label > img {
    padding: 0.5rem;
}


.bola-escollha-input[type="radio"]:checked + label > div > div.radio-bola{
    border-color: rgb(18, 177, 18);
    background-color: rgb(18, 177, 18);
    cursor: pointer;
}

.bola-escollha-input[type="radio"]:checked + label > div > div > svg > path{
    fill: white;
}

.escolha-criar {
    max-width: 1000px;
    background-color: black;
    margin: 10px;
}

img.escolha {
    background-color: white;
    margin: 1rem;
    width: 25rem;
    /* min-width: 25rem; */
    cursor: pointer;
}

.avancar{
    background-color: green;
    width: 23vw;
    height: 10rem;
    margin: 10px;
}

.escolha-avancar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20rem;
    height: 1px;
    bottom: 40rem;
}

.lateral-criar {
    width: 23vw;
    height: 30.1vw;
    background-color: black;
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

.imagem-bola-escolhida {
    width: 15rem;
    height: 15rem;
    background-color: white;
    /* margin: 2rem; */
    float: left;
}

.nome-bola {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.descricao-bola{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 10px;
}

.price {
    color: green;
    text-align: center;
    font-size: 4rem;
}

.price-pequeno {
    color: green;
    text-align: center;
    font-size: 2rem;
}

.nome-bola-escolhida{
    width: 30vw;
    height: fit-content;
    background-color: gray;
    margin: 3rem;
    padding: 2rem;
    font-size: 3rem;
}

.progresso-criar-bola{
    background-color: black;
    width: calc(97.5vw - 3px);
    height: 20rem;
    margin: 0 auto;
}

.place-holder{
    background-color: white;
    width: 10rem;
    height: 10rem;
}