.principal {
    padding: 10px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.bola-escollha-input {
    display: none;
    position: absolute;
}

div.pai {
    position: relative;
}

.absoluto {
    position: absolute;
}

label > div > div{
    top: 0px;
    right: 0px;
    width: 10px;
    height: 10px;
    border: solid;
    border-color: rgb(18, 177, 18);
    position: none;
    background-color: black;
    color: black;
    font-size: 10px;
}

label > img{
    padding: 5px;
}

/* .bola-escollha-input[type="checkbox"]:checked + label > div > div{
    border-color: rgb(18, 177, 18);
    background-color: rgb(18, 177, 18);
} */

.bola-escollha-input[type="radio"]:checked + label > div > div{
    border-color: rgb(18, 177, 18);
    background-color: rgb(18, 177, 18);
}

div.escolha-criar{
    width: 980px;
    background-color: black;
    margin: 10px;
}