.pai{
    margin: 4rem 0 4rem 12rem;
}

.img-bola{
    width: 40rem;
    background-color: white;
    border-radius: 2rem;
}

.img-lateral{
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2rem;
}

.small-img-bola{
    width: 7rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

#ball-information {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

#ball-name {
    font-size: 4rem;
    color: white;
    margin-left: 2rem;
}

#ball-description {
    width: 80rem;
    font-size: 1.75rem;
    color: white;
    margin-left: 2rem;
    line-height: 1.65rem;
}

#ball-price {
    font-size: 3.5rem;
    color: green;
    margin-left: 2rem;
}

#ball-price::before {
    font-size: 2rem;
    content: "POR ";
}

#ball-price::after {
    font-size: 2rem;
    content: " R$";
}
