.box-log{
    align-items: center;
    display: flex;
    
    
}
body {
margin: 0;
padding: 0;
font-family: DMSans;
background-color: #3d3d3d;
}

.login-container {
max-width: 400px;
margin: 100px auto;
background-color: #fff;
padding: 40px;
border-radius: 4px;
box-shadow: 10px;
}