/* Arquivo de css da página de erro 404 */

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

.erro {
    font-size: 50px;
    font-style: bold;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.error-box {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.error-message{
    font-family: DMSans;
    font-weight: bold;
    text-align: center;
    position: absolute;
}

.voltar{
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
}

img.bola-erro-404 {
    opacity: 20%;
    margin: 0 auto;
    width: 450px;
    padding: 50px 0 0 45%;
}
