/* Arquivo de css da página de erro 404 */

html {
    position: fixed;
    width: 100%;
    height: 100%;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

.erro {
    font-size: 50px;
    font-style: bold;
    text-align: center;
    margin: 20px 0px 0px 0px;
}

.error-box {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    vertical-align: middle;
    top: 40%;
    bottom: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}

.error-message{
    font-family: DMSans;
    font-weight: bold;
    text-align: center;
    position: absolute;
    color: white;
}

.voltar{
    margin: 20px 0px 0px 0px;
    text-decoration: underline;
}

a.voltar{
    color: white;
}

img.bola-erro-404 {
    opacity: 40%;
    margin: 0 auto;
    width: 500px;
    padding: 50px 0 0 35%;
}
