/* Arquivo de css da página inicial */

@keyframes link-box {
    from {
        font-size: medium;
    } to {
        font-size: larger;
    }
}

header {
    top: 0;
    position: sticky;
}

a {
    text-decoration: none;
}

header > section.dominant {
    padding: 25px 100px 25px 100px;
    background-color: #91a9d0;
}

header > section.recessive {
    height: 25px;
    padding: 0 100px 0 100px;
    background-color: #b6c7e4;
}

footer > section.recessive {
    padding: 0 100px 0 100px;
    background-color: #b6c7e4;
}

.link-box {
    padding: 0 5px 0 5px;
}

div.link-box:hover {
    animation-name: link-box;
    animation-duration: 0.1s;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.topic-box {
    padding: 0 5px 0 10px;
    border-left: #91a9d0 solid 5px;
}

.topic-box > ul > li {
    margin: 2px 0 2px 0;
    list-style: none;
}

a.recessive-header:link, :visited {
    color: #000;
    font-family: Arial;
    text-transform: uppercase;
}

footer {
    padding: 25px 100px 25px 100px;
    background-color: #b6c7e4;
    font: 100% Arial black;
}

form.search-bar > label > div.bar {
    background-color: #b6c7e4;
    border-radius: 5px;
}

form.search-bar > label > div > input {
    padding: 5px;
    background-color: #b6c7e4;
    border: none;
    border-radius: 5px;
}

form.search-bar > label > div > input::-webkit-input-placeholder {
    color: #000;
}

.centered {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.even {
    justify-content: space-evenly;
}

img.small-icon {
    padding: 3px;
    width: 22px;
}

img.medium-icon {
    width: 25px;
}

div.limb {
    height: 1500px;
}
