/* Arquivo de css da página inicial */

/*
    Cores do Site

    Dominante: #e29d07
    Recessivo: #ddb04f
*/


@keyframes link-box {
    from {
        background-color: #ddb04f;
    } to {
        background-color: #e29d07;
    }
}

@keyframes menu-arrow {
    from {
        transform: none;
    } to {
        transform: rotate(180deg);
    }
}

header {
    top: 0;
    position: sticky;
}

a {
    text-decoration: none;
}

header > section.dominant {
    padding: 25px 100px 25px 100px;
    background-color: #ffd900;
}

header > section.recessive {
    padding: 0 100px 0 100px;
    background-color: #ffe44e;
}

footer > section.recessive {
    padding: 0 100px 0 100px;
    background-color: #ffe44e;
}

.link-box {
    padding: 0 5px 0 5px;
    height: 100%;
}

div.link-box:hover {
    animation-name: link-box;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

div.link-box:hover > svg.menu-arrow {
    animation-name: menu-arrow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}


.topic-box {
    padding: 0 5px 0 10px;
    border-left: #ffd900 solid 5px;
}

.topic-box > ul > li {
    margin: 2px 0 2px 0;
    list-style: none;
    font-family: DMSans;
}

a.recessive-header:link, :visited {
    color: #000;
    font-family: DMSans;
    text-transform: uppercase;
    text-decoration: none;
}

a.footer {
    color: #000;
    font-family: DMSans;
    text-decoration: none;
}

footer {
    padding: 25px 100px 25px 100px;
    background-color: #ffe44e;
    font-family: DMSans;
    font-size: medium;
}

form.search-bar > label > div.bar {
    background-color: #ffe44e;
    border-radius: 5px;
}

form.search-bar > label > div > input {
    padding: 5px;
    background-color: #ffe44e;
    border: none;
    border-radius: 5px;
}

form.search-bar > label > div > input::-webkit-input-placeholder {
    color: #000;
    font-family: DMSans;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.even {
    justify-content: space-evenly;
}

img.small-icon {
    padding: 3px;
    width: 22px;
}

img.medium-icon {
    width: 25px;
}

div.limb {
    height: 1500px;
}

.logo {
    font-family: Naville;
    text-transform: uppercase;
    font-size: 35px;
    font-weight: bold;
    text-align: center;
    padding-top: 7.5px;
}

input {
    outline: none;
}

.svg {
    margin: 0 0 0 2.5px;
}

.sub-menu {
    height: 40px;
}

.horizontal-line {
    background-color: #e29d07;
    width: 3px;
    height: 30px;
    margin: 0 10px;
}

.button-carrossel {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.button-carrossel-input[type="checkbox"]:checked + label > div {
    background-color: #3d3d3d;
}

.right-button-carrossel {
    transform: rotate(270deg);
}

.left-button-carrossel {
    transform: rotate(90deg);
}
