/* Arquivo de css padronizado para todas as páginas */

* {
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: DMSans;
    src: url("../fonts/DMSans/DMSans-Regular.ttf");
}

@font-face {
    font-family: Naville;
    src: url("../fonts/Naville/Naville-Regular.ttf");
}

body {
    font-family: DMSans;
}

.flex-container {
    display: flex;
}

.flex-container > div.s-spaced {
    margin: 0 6px 0 6px
}

.flex-container > div.m-spaced {
    margin: 0 12px 0 12px
}

.flex-container > div.b-spaced {
    margin: 0 25px 0 25px
}

.pos-right {
    margin: 0 auto 0 0;
    justify-content: right;
    text-align: right;
}

.pos-left {
    margin: 0 0 0 auto;
    justify-content: left;
    text-align: left;
}
.small-icon {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    color: transparent;
}
