# git anotado
#
# Função: Arquivo de configuração de variáveis de ambiente
# Motivo: Contém credenciais de acesso à serviços e fontes de terceiros
.env
#
# Função: Guardar os arquivos das dependências
# Motivo: Não é necessário enviar a pasta, pois quem clonar o repositório pode instalar por conta própria
node_modules/*
