.bloco-carrinho-geral{
    justify-content: center;
    display: block;
    height: auto;
    display: flex;
    margin-top: 2vh;
    
}

.bloco-items-cupom {
    display: flex;
    flex-direction: column;
    margin-right: 2vh;
    /* background-color: white; */
    width: 65%;
    height: auto;
    font-family: DMSans;
}

.cupom-desconto-carrinho {
    /* margin: 1vh; */
    padding: 3rem;
    border: #777 solid 1px;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: 1vh;
    background-color: #353535;
}
/*  */
.resumo-total-itens {
    margin-left: 2vh;
    background-color: blue;
    width: 25%;
}

.items-carrinho {
    padding: 3rem;
    border: #777 solid 1px;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    margin: 1vh;
    background-color: #353535;
}

.item-carrinho {
    transition: all 0.15s ease-in-out;
    position: relative;
    display: flex;
    gap: 2rem;
    background-color: #505050;
    width: 100%;
    height: 22rem;

    border: #777 solid 1px;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.item-carrinho:hover {
    box-shadow: 0px 0px 7px #888;
}

.item-carrinho > figure {
    position: relative;
    cursor: zoom-in;
    transition: all 0.35s ease-out;
    background-color: #ddd;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 3rem;
    border-radius: 1rem;
}

.item-carrinho > figure:hover {
    background-color: #aaa;

    padding: 1.5rem;
}

.item-carrinho > figure > .icon {
    transition: opacity 0.25s ease-out;

    position: absolute;
    top: 1rem;
    right: 1rem;

    opacity: 0;
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.item-carrinho > figure:hover > .icon {
    opacity: 1;
}

.item-carrinho > figure > .ball-image {
    height: inherit;
    aspect-ratio: inherit;
}

.qtty-selector-wrapper {
    display: flex;
    gap: 1rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: fit-content;
}

.qtty-selector-button {
    transition: all 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    background-color: #dfdfdf;
    font-size: 4rem;
    width: 5.5rem;
    height: 5.5rem;
    border: #a0a0a0 solid 1px;
    border-radius: 50%;
    outline: #dfdfdf solid 0px;
}

.qtty-selector-button:hover {
    background-color: #eee;
    box-shadow: 0px 0px 5px 2px #888;
}

.ball-qtty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3.5rem;
    width: 4rem;
    color: #f5f5f5;
}

.ball-info {
    display: flex;
    flex-direction: column;
}

.ball-name {
    font-size: 3rem;
    color: #f5f5f5;
    margin: 0 0 -0.5rem 0;
}

.ball-price {
    font-size: 2.25rem;
    color: #ffba25;
}

.ball-parcels {
    font-size: 1.5rem;
    color: #f5f5f5;
}

.operation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.cart-icon {
    width: 1.85rem;
    aspect-ratio: 1 / 1;
}

.remove-from-cart,
.add-to-order {
    transition: all 0.25s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 11.75rem;
    height: 2.5rem;
    margin: 0 0 0 -0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #18a808;
}

/* .remove-from-cart:hover, */
.add-to-order:hover {
    /* border: #df9800 solid 2px; */
    background-color: #626262;
    color: #f5f5f5;
}

.remove-from-cart {
    color: #ff2525;
}

.remove-from-cart:hover {
    background-color: #626262;
    color: #f5f5f5;
}

/* 
<div class="qtty-selector-wrapper">
    <button class="qtty-selector-button increase-qtty">+</button>
    <span class="ball-qtty"></span>
    <button class="qtty-selector-button decrease-qtty">-</button>
</div>
*/

/* /////////////////////////////////////////// */

.aplicar-cupom {
    transition: all 0.25s ease-out;
    padding: 1.5rem;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    border: #ffd900 solid 1px;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ffd900;
}

.aplicar-cupom:hover {
    background-color: #ffd900;
    color: #202020;
}

.aplicar-cupom-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#cupom {
    transition: all 0.15s ease-out;
    border: #f5f5f5 solid 1px;
    border-radius: 1rem;
    height: 5.8rem;
    background-color: rgb(0, 0, 0, 0);
    padding: 0 0 0 1.5rem;
    width: 100%;
    color: #f5f5f5;
    font-size: 2rem;
    outline: rgb(0, 0, 0, 0) solid 1px;
}

#cupom:hover {
    border: #3bb9f7 solid 1px;
    outline: #1ab3ff solid 1px;
}

#cupom::placeholder {
    color: #a4a4a4;
    font-size: 1.75rem;
}

.cupom-title{
    font-size: 3rem;
    margin-left: 1vh;
    color: white;
}

.cupom-txt{
    font-size: 2vh;
    padding: 3px;
}

.title-resumo{
    display: flex;
    font-size: 4.2rem;
    justify-content: center;
    color: white;
}