.bloco-carrinho-geral{
    justify-content: center;
    display: block;
    max-width: 250rem;
    height: auto;
    display: flex;
    margin: 5rem auto;
}

.bloco-items-cupom {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-right: 2vh;
    width: 65%;
    height: auto;
    font-family: DMSans;
}

.cupom-desconto-carrinho {
    padding: 3rem;
    border: #777 solid 1px;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    background-color: #353535;
}

.items-carrinho {
    padding: 3rem;
    border: #555 solid 1px;
    border-radius: 1.5rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    min-height: calc(100vh - 24rem);
    background-color: #353535;
}

.no-balls {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0 0 15rem 0;
}

.sad-face-cuz-no-ballz {
    margin: 0 8rem 0 0;
    font-size: 40rem;
    color: #f5f5f5;
}

.sad-text-cuz-no-ballz {
    font-size: 2.5rem;
    color: #f5f5f5;
}

.buy-some-ballz {
    font-size: 4rem;
    color: #f5f5f5;
}

.buy-some-ballz > a {
    transition: all 0.25s ease-out;
    font-size: 4.25rem;
    color: #f5f5f5;
    text-decoration: underline;
}

.buy-some-ballz > a:hover {
    color: #ffd900;
}

#item-cart-template {
    display: none;
}

.item-carrinho {
    transition: all 0.15s ease-in-out;
    position: relative;
    display: flex;
    gap: 2rem;
    width: 100%;
    height: 22rem;

    border: #555 solid 1px;
    border-radius: 1.5rem;
    padding: 1.5rem;
}

.item-carrinho:hover {
    box-shadow: 0px 0px 7px #888;
}

.item-carrinho > figure {
    position: relative;
    cursor: zoom-in;
    transition: all 0.35s ease-out;
    background-color: #ddd;
    height: 100%;
    aspect-ratio: 1 / 1;
    padding: 3rem;
    border-radius: 1rem;
}

.item-carrinho > figure:hover {
    background-color: #b5b5b5;

    padding: 1.5rem;
}

.item-carrinho > figure > .icon {
    transition: opacity 0.25s ease-out;

    position: absolute;
    top: 1rem;
    right: 1rem;

    opacity: 0;
    width: 3rem;
    aspect-ratio: 1 / 1;
}

.item-carrinho > figure:hover > .icon {
    opacity: 1;
}

.item-carrinho > figure > .ball-image {
    height: inherit;
    aspect-ratio: inherit;
}

.qtty-selector-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.qtty-selector-wrapper > span {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    color: #ffd900;
}

.qtty-selector-buttons-wrapper {
    display: flex;
    gap: 1rem;
    width: fit-content;
}

.qtty-selector-button {
    transition: all 0.1s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 50%;
    background-color: #dfdfdf;
    font-size: 4rem;
    width: 4rem;
    height: 4rem;
    border: #a0a0a0 solid 1px;
    border-radius: 50%;
    outline: #dfdfdf solid 0px;
}

.qtty-selector-button:hover {
    background-color: #eee;
    box-shadow: 0px 0px 5px 2px #888;
}

.ball-qtty {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    width: 3rem;
    color: #f5f5f5;
}

.item-wrapper {
    display: flex;
    gap: 10rem;
}

.ball-info {
    display: flex;
    flex-direction: column;
}

.ball-sport {
    font-size: 1.75rem;
    color: #b5b5b5;
    margin: 0 0 -0.25rem 0;
}

.ball-name {
    font-size: 3rem;
    color: #ffd900;
    margin: 0 0 -0.5rem 0;
}

.ball-price {
    font-size: 2.25rem;
    color: #f5f5f5;
}

.ball-price::before {
    content: "R$";
    font-size: 2.25rem;
    color: #f5f5f5;
    margin: 0 0.25rem 0 0;
}

.ball-parcels {
    font-size: 1.5rem;
    color: #b5b5b5;
}

.ball-parcels > .u {
    font-size: 1.5rem;
    color: #b5b5b5;
    text-decoration: underline;
}

.operation-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.pay-method-selection {
    display: flex;
    gap: 0.75rem;
    margin: 0 0 1.5rem 0;
}

.pay-method-option {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 5rem;
}

.pay-method-option:hover > .pay-method-name {
    box-shadow: 0px 0.6px 0.15px 0px #fff;
}

.pay-method-option:hover > .pay-method-icon {
    background-color: #444;
}

.pay-method-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.25s ease-out;
    width: 5rem;
    aspect-ratio: 1 / 1;
    padding: 0.75rem;
    border: none;
    border-radius: 2.5rem;
    background-color: rgb(0, 0, 0, 0);
}

.pay-method-icon > img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.pay-method-name {
    width: fit-content;
    transition: all 0.25s;
    text-align: center;
    font-size: 1.75rem;
    color: #f5f5f5;
}


.cart-icon {
    width: 1.85rem;
    aspect-ratio: 1 / 1;
}

.remove-from-cart,
.add-to-order {
    transition: all 0.25s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 11.75rem;
    height: 2.5rem;
    margin: 0 0 0 -0.5rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0);
    font-size: 1.5rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #18a808;
}

.add-to-order:hover {
    background-color: #626262;
    color: #f5f5f5;
}

.remove-from-cart {
    color: #ff2525;
}

.remove-from-cart:hover {
    background-color: #626262;
    color: #f5f5f5;
}

.aplicar-cupom {
    transition: all 0.25s ease-out;
    padding: 1.5rem;
    border: none;
    background-color: rgb(0, 0, 0, 0);
    border: #ffd900 solid 1px;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    color: #ffd900;
}

.aplicar-cupom:hover {
    background-color: #ffd900;
    color: #202020;
}

.aplicar-cupom-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#cupom {
    transition: all 0.15s ease-out;
    border: #f5f5f5 solid 1px;
    border-radius: 1rem;
    height: 5.8rem;
    background-color: rgb(0, 0, 0, 0);
    padding: 0 0 0 1.5rem;
    width: 100%;
    color: #f5f5f5;
    font-size: 2rem;
    outline: rgb(0, 0, 0, 0) solid 1px;
}

#cupom:hover {
    border: #3bb9f7 solid 1px;
    outline: #1ab3ff solid 1px;
}

#cupom::placeholder {
    color: #a4a4a4;
    font-size: 1.75rem;
}

.cupom-title{
    font-size: 3rem;
    margin-left: 1vh;
    color: white;
}

.cupom-txt {
    font-size: 2vh;
    padding: 3px;
}

/*
 * Style da área de pedidos
 */

/* 
<div class="title-orders-abstract">
    <span class="title-resumo">Resumo</span>
    <span class="desc-abstract">Veja os produtos prontos para serem comprados</span>
    <div class="total-value-wrapper">
        <span class="total-value-title">Valor total:</span>
        <span class="total-value">1234,99</span>
    </div>
    <span class="total-parcels">1351 vezes no cartão</span>
    <button id="select-loc-button">
        Pesquisar endereço
    </button>
    <button id="finalize-order-button">
        Finalizar pedido
    </button>
</div>
*/

.order-abstract-wrapper {
    position: -webkit-sticky;  /* Safari */
    position: relative;
    height: inherit;
}

.resumo-total-itens {
    position: sticky;
    top: 5rem;
    border: #555 solid 1px;
    border-radius: 1.5rem;
    margin-left: 2vh;
    background-color: #353535;
    width: 52.5rem;
    height: calc(100vh - 24rem);
    overflow: scroll;
}

.title-orders-abstract {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 4.2rem;
    width: 100%;
    height: fit-content;
    background-color: #353535;
    padding: 0 1.5rem;
    border-bottom: #555 solid 1px;
}

.title-resumo {
    display: flex;
    font-size: 4.2rem;
    /* justify-content: center; */
    color: #ffd900;
    text-align: center;
    padding: 1rem 1.5rem;
    margin: 0 0 1.5rem 0;
    border-bottom: #555 solid 1px;
}

.abstract-icon {
    position: absolute;
    z-index: 10;
    top: 2rem;
    right: 2rem;
    width: 4rem;
    aspect-ratio: 1 / 1;
}

.desc-abstract {
    display: flex;
    font-size: 2rem;
    justify-content: center;
    width: 28rem;
    color: #f5f5f5;
    text-align: center;
    margin: 0 0 1.5rem 0;
}

.total-value-wrapper {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    /* margin: 0 0 1.25rem 0; */
    padding: 0 1.5rem;
}

.total-value-title {
    display: flex;
    font-size: 3rem;
    color: #ffd900;
}
/* 
.total-value-title::after {
    position: absolute;
    display: block;
    content: "-";
    width: 100%;
    border-bottom: #555 solid 1px;
    color: #00000000;
} */

.total-value::before {
    content: "R$";
    font-size: 2.75rem;
    color: #f5f5f5;
    margin: 0 0.3rem 0 0;
}

.total-value {
    font-size: 3rem;
    color: #f5f5f5;
}

.pay-stats-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem 0 0 0;
}

.total-parcels {
    text-transform: uppercase;
    display: flex;
    gap: 0.5rem;
    font-size: 1.75rem;
    color: #555;
}

.total-parcels > .bold-text {
    text-transform: uppercase;
    font-size: 1.9rem;
    color: #777;
}

.selected-order-options-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* gap: 1.25rem; */
    padding: 1.5rem;
    margin: 1.25rem 2rem 0 2rem;
    border: #555 solid 1px;
    border-radius: 1rem;
    width: calc(100% - 4rem);
    height: fit-content;
}

/* .selected-order-options-wrapper > span { */
    /* background-color: red; */
    /* } */
    
    .selected-pay-method-title,
    .selected-cep-title {
        font-size: 2rem;
        color: #ffd900;
    }
    
    .not-selected {
        color: #e78b8b !important;
    }
    
    #selected-pay-method,
    #selected-cep {
        text-align: right;
        font-size: 2rem;
    color: #f5f5f5;
}

.order-buttons-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
}

#select-loc-button {
    transition: all 0.1s ease-out;
    font-size: 2rem;
    text-transform: uppercase;
    color: #ffd900;
    padding: 1rem;
    border: #ffd900 solid 1px;
    border-radius: 1rem;
    background-color: #00000000;
}

#select-loc-button:hover {
    color: #f5f5f5;
    border: #ffd900 solid 1px;
    background-color: #c9ab00;
}

#set-payment-button {
    width: 100%;
    transition: all 0.1s ease-out;
    font-size: 2rem;
    text-transform: uppercase;
    color: #f5f5f5;
    padding: 1rem;
    border: #ffd900 solid 1px;
    border-radius: 1rem;
    background-color: #c9ab00;
}

#set-payment-button:hover {
    color: #f5f5f5;
    border: #c9ab00 solid 1px;
    background-color: #c9ab0055;
}

.order-balls-list {
    display: flex;
    flex-direction: column;
}

.order-balls-list > li {
    display: flex;
    gap: 2rem;
    padding: 1.75rem;
    /* border-bottom: #777 solid 1px; */
    border-bottom: #555 solid 1px;
}

.order-ball-image {
    width: 15rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    border: none;
    border-radius: 1rem;
    background-color: #f5f5f5;
}

.order-ball-image > img {
    width: 100%;
    aspect-ratio: 1 / 1;
}

.order-info-wrapper {
    display: flex;
    flex-direction: column;
}

.order-ball-name,
.order-total-balls-price,
.order-balls-qtty {
    font-size: 3rem;
    color: #f5f5f5;
}

/* scrollbar */

::-webkit-scrollbar,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    display: none; 
}

/* Form da validação de CEP */
#cep-validation-form-fog {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 50;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #202020a7;
}

#cep-validator-form-wrapper {
    width: 43.5rem;
    padding: 2rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#cep-validator-form {
    width: inherit;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #444;
    border: #555 solid 1px;
    border-radius: 2rem 2rem 0 0;
    padding: 2rem;
}

.cep-validator-form-title {
    font-size: 5rem;
    font-family: Naville;
    color: #ffd900;
    padding: 0.5rem 0 1.25rem;
    margin: 0 0 1rem 0;
    border-bottom: #555 solid 1px;
}

#cep {
    background-color: #00000000;
    border: #ddd solid 1px;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 2rem;
    color: #f5f5f5;
}

#cep::placeholder {
    font-size: 1.75rem;
    color: #777;
}

.cep-validator-form-buttons {
    display: flex;
    justify-content: space-between;
}

#submit-cep {
    cursor: pointer;
    width: fit-content;
    background-color: #ffd900;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #202020;
    padding: 1rem 1.25rem;
    margin: 0 0 0.75rem 0;
}

#exit-cep-validation-form {
    cursor: pointer;
    width: 7rem;
    background-color: #ffd900;
    border: none;
    border-radius: 1rem;
    font-size: 2rem;
    text-transform: uppercase;
    color: #202020;
    padding: 1rem 1.25rem;
    margin: 0 0 0.75rem 0;
}

/* Caixa de resultado positivo para a validade do CEP */

#cep-sucess-validation-result-box {
    width: 43.5rem;
    display: none;
    flex-direction: column;
    background-color: #444;
    border: #555 solid 1px;
    border-top: none;
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
}

.cep-validation-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    border: rgb(45, 167, 61) solid 2px;
    border-bottom: none;
    border-radius: 1rem 1rem 0 0;
    background-color: #61bb6d;
}

.cep-validation-result-title {
    font-size: 2rem;
    color: #f5f5f5;
}

.cep-validation-result {
    font-size: 3rem;
    text-transform: uppercase;
    color: rgb(26, 131, 40);
}

.cep-validation-tip {
    /* display: none; */
    color: #f5f5f5;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.cep-info-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem 1.5rem;
    border: rgb(45, 167, 61) solid 2px;
    border-radius: 0 0 1rem 1rem;
    background-color: #61bb6d;
}

.cep-info-wrapper > .cep-info-title {
    font-size: 3rem;
    color: #f5f5f5;
    margin: 0 0 0.75rem 0;
}

.cep-info-wrapper > #cep-city-n-district {
    font-size: 2rem;
    color: #f5f5f5;
}

.cep-info-wrapper > #cep-neighborhood {
    font-size: 2rem;
    color: #f5f5f5;
}

/* Resultado de validação errado */

#cep-error-validation-result-box {
    width: 43.5rem;
    display: none;
    flex-direction: column;
    background-color: #444;
    border: #555 solid 1px;
    border-top: none;
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
}

.cep-error-validation-result-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    border: #ff2525 solid 2px;
    border-radius: 1rem;
    background-color: #e46d6d;
}

.cep-error-validation-result-title {
    font-size: 2rem;
    color: #f5f5f5;
}

.cep-error-validation-result {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ff2525;
}

#cep-validation-tip {
    width: 43.5rem;
    flex-direction: column;
    background-color: #444;
    border: #555 solid 1px;
    border-top: none;
    border-radius: 0 0 2rem 2rem;
    padding: 2rem;
    color: #f5f5f5;
    font-size: 2rem;
    margin: 0 0 1.5rem 0;
}

.complete-order-wrapper {
    position: sticky;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.2rem;
    width: 100%;
    height: fit-content;
    background-color: #353535;
    padding: 2.25rem 1.5rem;
    outline: #555 solid 1px;
    border-radius: 0 0 1rem 1rem;
}

.complete-order-wrapper > a {
    display: block;
    width: 100%;
}

#complete-order-button {
    transition: all 0.1s ease-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 1.5rem;
    font-size: 2rem;
    text-transform: uppercase;
    width: 100%;
    border: #18a808 solid 1px;
    border-radius: 1rem;
    color: #f5f5f5;
    background-color: #18a808a7;
}

#complete-order-button:hover {
    text-shadow: 0px 1px 11px #7fdb7f;
    background-color: #18a80877;
}
