.container{
    position: fixed;
    z-index: 1;
    width: 100%;
}

.principal {
    display: flex;
    flex-wrap: wrap;
}

.bola-escollha-input {
    display: none;
    position: absolute;
    z-index: 2;
}

.principal > li {
    display: inline-block;
}


.pai {
    position: relative;
    justify-content: space-around;
    width: 100%;
}

.absoluto {
    position: absolute;
}

label > div > div.radio-bola {
    top: 0;
    right: 0;
    width: 3.5rem;
    height: 3.5rem;
    border: solid;
    border-color: rgb(18, 177, 18);
    position: none;
    background-color: black;
    color: black;
    font-size: 3.33rem;
    border-radius: 1rem;
    cursor: pointer;
}

label > img {
    padding: 0.5rem;
    background-color: white;
    margin: 1rem;
    width: 25rem;
    /* min-width: 25rem; */
    cursor: pointer;
    border-radius: 2rem;
}

li > input[type="radio"]:checked + label > div > div.radio-bola {
    border-color: rgb(18, 177, 18);
    background-color: rgb(18, 177, 18);
    cursor: pointer;
}

li > input[type="radio"]:checked + label > div > div > svg > path {
    fill: white;
}

.escolha-criar {
    max-width: 142.85rem;
    background-color: #242424;
    margin: 0 21px 0 21px;
    border-radius: 2rem;
    padding: 1rem;
}


.button-avancar{
    background-color: green;
    width: 44.88rem;
    height: 70px;
    /* margin: 21px 21px 0 21px; */
    border-radius: 2rem;
    font-size: 3.14rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.avancar{
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 20px;
    height: 481.11px;
    bottom: 20rem;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    margin: 21px;
    gap: 10.5px;
}

.lateral-criar {
    width: 314.16px;
    height: 411.11px;
    background-color: #242424;
    display: flex;
    justify-content: space-around;
    border-radius: 2rem;
}

.lateral-criar > div > div {
    width: 15rem;
    height: 15rem;
    background-color: white;
    /* margin: 2rem; */
    float: left;
    border-radius: 2rem;
}

.nome-bola-escolha {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.descricao-bola{
    display: flex;
    cursor: pointer;
    flex-direction: column;
    gap: 2rem;
}

.lateral-criar > div{
    width: 58.54rem;
    height: fit-content;
    background-color: gray;
    margin: 3rem;
    padding: 2rem;
    font-size: 3rem;
    border-radius: 2rem;
}

.progresso-criar-bola{
    /* display: flex; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    gap: 5rem;
    background-color: #242424;
    width: calc(190.26rem - 3px);
    height: 20rem;
    margin: 0 auto;
    border-radius: 2rem;
}

.place-holder {
    background-color: #535353;
    width: 11.42rem;
    height: 11.42rem;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

/* .progresso-linha{

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    gap: 5rem;
    width: calc(97.5vw - 3px);

} */

.create{
    display: none;
}

.title-creation {
    font-size: 4rem;
    color: white;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 21px;
}

.next-simbol {
    width: 4.28rem;
}

/* .option-wrapper {
    border-radius: 2rem;
} */

.main-wrapper {
    display: flex;
    gap: 1.75rem;
}

.template-cor {
    display: flex;
    gap: 5rem;
}

.showcase-icon-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.showcase-cor {
    /* width: calc((74.25vw / 3) - 2.3333rem);  */
    width: min-content;
    display: flex;
    flex-direction: column;
    gap: 3.33rem;
    padding: 2rem;
    border: #ffe44e solid 1px;
    border-radius: 1.5rem;
}

.preview {
    width: 28.57rem;
}

.template-cor {
    border-radius: 2rem;
    display: flex;
    margin: 0 0 3.33rem 3.33rem;
}

.title-cor {
    background-color: #ffe44e;
    border-radius: 1rem;
    width: 28.57rem;
    color: #242424;
    font-size: 2.85rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-cor-recessive {
    width: 28.57rem;
    color: white;
    font-size: 1.42rem;
    display: flex;
    justify-content: right;
    align-items: center;
}

.space {
    width: 28.57rem;
    height: 28.57rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 3rem;
}

#color-picker { 
    width: 28.57rem;
    height: 18.57rem;
}

.bola-plana {
    width: 28.57rem;
}

.select {
    
    width: 34rem;
    /* width: calc((74.25vw / 3) - 2.3333rem);  */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.33rem;
    background-color: #ffe44e;
    border-radius: 1rem;
}

.showcase-final{
    width: calc(195rem - 60.64rem);
    height: 40rem;
    background-color: #242424;
    margin: 3.33rem;
    border-radius: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.text-final {
    color: white;
    font-size: 2.5rem;
}