.container {
    width: max-content;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    margin: 4rem auto;
    min-height: calc(100vh - 47rem);
}

.img-ball {
    cursor: pointer;
    width: 40rem;
    height: 40rem;
    background-color: white;
    border-radius: 2rem;
}

.img-lateral {
    height: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.small-img-bola {
    width: 7rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

#ball-information {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
}

#ball-name {
    font-size: 4rem;
    color: white;
}

#ball-description {
    width: 80rem;
    font-size: 2.5rem;
    color: white;
    line-height: 2.5rem;
}

.interaction-menu {
    display: flex;
    gap: 2rem;
}

.numeric-info {
    display: flex;
    flex-direction: column;
}

.interaction-buttons {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.prices {
    display: flex;
    flex-direction: column;
    /* gap: 0.5rem; */
}

#old-ball-price {
    font-weight: 500;
    font-size: 2.5rem;
    color: red;
}

#old-ball-price::before {
    font-size: 1.25rem;
    content: "DE ";
}

#old-ball-price::after {
    font-size: 1.25rem;
    content: " R$";
}

#stars-classification {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

#stars-classification > ul {
    display: flex;
    gap: 0.3rem;
}

#stars-classification > ul > li {
    cursor: pointer;
    width: 2rem;
    height: 2rem;   
    background-color: #ffcc00;
    border-radius: 1rem;
}

#qnt-classifications {
    position: relative;
    top: 0.1rem;
    font-size: 1.5rem;
    color: #ffffff;
}

#qnt-classifications::after {
    content: " avaliações";
}

#ball-price {
    font-weight: 600;
    font-size: 3.5rem;
    color: #ffe44e;
}

#ball-price::before {
    font-size: 2rem;
    content: "POR ";
}

#ball-price::after {
    font-size: 2rem;
    content: " R$";
}

#buy-button {
    cursor: pointer;
    background-color: transparent;
    border: green solid 1px;
    border-radius: 3rem;
    width: 18rem;
    height: 8rem;
    color: green;
    font-size: 2rem;
    text-transform: uppercase;
}

#kart-button {
    cursor: pointer;
    background-color: transparent;
    border: orangered solid 1px;
    border-radius: 3rem;
    width: 18rem;
    height: 8rem;
    color: orangered;
    font-size: 2rem;
    text-transform: uppercase;
}

#buy-button:hover {
    background-color: green;
    color: #ffffff;
}

#kart-button:hover {
    background-color: orangered;
    color: #ffffff;
}

#ball-specifications {
    color: #ffffff;
    border-bottom: #ffffff solid 1px;
    border-top: #ffffff solid 1px;
}

#ball-specifications > li {
    border-bottom: #ffffff solid 1px;
    border-top: #ffffff solid 1px;
    padding: 1.25rem 1.5rem;
}

#ball-specifications > li > h1 {
    font-size: 3rem;
} 

#ball-specifications > li > p {
    font-size: 1.75rem;
}
