/* Arquivo de css da página inicial */

/*
    Cores do Site

    Dominante: #e29d07
    Recessivo: #ddb04f
*/


@keyframes link-box {
    from {
        background-color: #ffe44e;
    } to {
        background-color: #e29d07;
    }
}

@keyframes menu-arrow {
    from {
        transform: none;
    } to {
        transform: rotate(180deg);
    }
}

@keyframes quit-link-box {
    from {
        background-color: #e29d07;
    } to {
        background-color: #ffe44e;
    }
}

@keyframes quit-menu-arrow {
    from {
        transform: rotate(180deg);
    } to {
        transform: none;
    }
}

@keyframes bg-balls {
    from {
        filter: blur(2.5rem);
    } to {
        filter: blur(0.25rem);
    }
}

@keyframes quit-bg-balls {
    from {
        filter: blur(0.25rem);
    } to {
        filter: blur(2.5rem);
    }
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

@media(max-width: 1300px) {
    div.nav-bar {
        display: none;
    }

    header > section.dominant {
        justify-content: center;
    }
}

/* TODO: (URGENTE) REVISAR O POSITION: STICKY */
.header {
    top: 0;
    position: sticky;
}

a {
    text-decoration: none;
    color: #000;
}

.main-section {
    background: linear-gradient(#202020 5%, #141313, 80%, #3d3d3d);
}

header > section.dominant {
    height: 5rem;
    padding: 4rem 10rem 4rem 10rem;
    background-color: #ffd900;
    justify-content: space-between;
}

header > section.recessive {
    background-color: #ffe44e;
}

footer > section.recessive {
    background-color: #ffe44e;
}

.bg-transparent {
    background-color: transparent;
}

.link-box {
    height: 100%;
    gap: 0.30rem;
    padding: 0 1rem;
}

div.link-box:hover {
    animation-name: link-box;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

div.link-box:hover > svg.menu-arrow {
    animation-name: menu-arrow;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

/*
 * teste de menu drop down
 */

/* .dropdown-child { 
    display: none;
    background-color: skyblue;
    min-width: 200px;
}

.dropdown-child a {
    color: blue;
    padding: 20px;
    text-decoration: none;
    display: block;
}

.div.link-box:hover .dropdown-child {
    display: block;
} */

div.link-box:not(:hover) {
    animation-name: quit-link-box;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

div.link-box:not(:hover) > svg.menu-arrow {
    animation-name: quit-menu-arrow;
    animation-duration: 0.25s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in;
}

.topic-box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1.5rem 0 1.5rem;
    border-left: #ffd900 solid 5px;
    height: 15rem;
}


li {
    list-style: none;
}

.topic-box > li {
    font-family: DMSans;
    font-size: 2rem;
}

a.recessive-header:link, :visited {
    font-family: DMSans;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
}

a.footer {
    font-family: DMSans;
    text-decoration: none;
    font-size: 2rem;
}

footer {
    padding: 4rem 10vw;
    background-color: #ffe44e;
    font-family: DMSans;
}

.footer-container {
    display: flex;
    gap: 5vw;
}

form.search-bar > label > div.bar {
    background-color: #ffe44e;
    border-radius: 0.75rem;
}

form.search-bar > label > div > input {
    padding: 0.75rem;
    background-color: #ffe44e;
    border: none;
}

form.search-bar > label > div > input::-webkit-input-placeholder {
    color: #000;
    font-family: DMSans;
    font-size: 1.5vh;
    text-transform: uppercase;
}

.centered {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.even {
    justify-content: space-evenly;
}

.spaced {
    justify-content: space-between;
}

.gapped {
    gap: 1rem;
}

img.small-icon {
    padding: 3px;
    width: 2.75rem;
}

img.medium-icon {
    width: 3rem;
}

div.limb {
    height: 1500px;
}

.logo {
    font-family: Naville;
    text-transform: uppercase;
    font-size: 5vh;
    font-weight: bold;
    text-align: center;
    padding-top: 1vh;
}

input {
    outline: none;
}

.svg-hamburguer {
    cursor: pointer;
    width: 3rem;
    height: 2.7rem;
}

.svg-arrow {
    width: 21px;
    height: 14px;
}

.sub-menu {
    height: 42px;
}

.carousel-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    width: 1466px;
}

.carousel-wrapper > #left-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    margin: 1.5rem;
    /* border: #000 solid 1px; */
    border-radius: 35px;
    /* background-color: rgba(0, 0, 0, 0); */
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    left: 0px;
    z-index: 20;
    opacity: 0.5;
    rotate: 90deg;
    cursor: pointer;
}

.carousel-wrapper > #right-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 42px;
    height: 42px;
    background-color: #fff;
    margin: 1.5rem;
    /* border: #000 solid 1px; */
    border-radius: 35px;
    /* background-color: rgba(0, 0, 0, 0); */
    border-color: rgba(0, 0, 0, 0);
    position: absolute;
    right: 0px;
    z-index: 20;
    opacity: 0.5;
    rotate: 270deg;
    cursor: pointer;
}

.carousel-wrapper > #left-button:hover {
    opacity: 1;
}

.carousel-wrapper > #right-button:hover {
    opacity: 1;
}

#carousel {
    /* margin: 0 auto; */
    position: relative;
    width: 100%;
    height: 320px;
    aspect-ratio: 10 / 2.5;
}

#carousel > img {
    width: 100%;
    height: 320px;
    vertical-align: top;
    position: absolute;
}

#carousel > input {
    display: none;
}

#carousel > label {
    background-color: #fff;
    width: 3rem;
    height: 100%;
    cursor: pointer;
    position: absolute;
    z-index: 10;
    display: block;
}

.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main-box {
    padding: 25px 100px;
}

h1.main-box-title {
    font-family: DMSans;
    color: #fff;
    font-size: 5vh;
    text-transform: uppercase;
    width: 33vh;
}

h1.free-title {
    font-family: DMSans;
    color: #ffe44e;
    font-size: 5rem;
    line-height: 92.5%;
    text-transform: uppercase;
}

.sub-free-title {
    font-family: DMSans;
    color: #ffd900;
    font-size: 6rem;
    font-weight: bold;
    line-height: 92.5%;
    text-transform: uppercase;
}

.collections-carrossel {
    display: flex;
    background-color: rgb(141, 108, 108);
    margin: 0 auto;
    width: 90%;
}

.collections-carrossel-button-left {
    position: absolute;
    left: 0;
    background-color: rgb(121, 76, 76);
    width: 90%;
}

.collections-carrossel-button-right {
    position: absolute;
    right: 0;
    background-color: rgb(121, 76, 76);
    width: 90%;
}

.collections-carrossel-button-left > input[type="button"] + label > .icon {
    rotate: 90deg;
}

.collections-carrossel-button-right > input[type="button"] + label > .icon {
    rotate: 270deg;
}

.showcase-menu {
    padding: 0 12.5%;
    display: grid;
    position: relative;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    height: calc(100vh - 11rem);
    gap: 10rem;
}

.showcase-menu-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.showcase-menu-text > h1 {
    text-transform: uppercase;
}

.showcase-title {
    font-size: 5vh;
    text-align: right;
}

.showcase-subtitle {
    font-size: 2vh;
    text-align: right;
}

.collections-subtitle {
    font-size: 2vh;
    color: #fff;
    text-transform: uppercase;
}

.showcase {
    padding: 1rem;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    background-color: #e29d07;
    width: 55rem;
    gap: 1rem;
}

.showcase > .small {
    display: flex;
    background-color: #fff;
    justify-content: center;
    height: 25rem;
}

.showcase > .big {
    display: flex;
    grid-column: 1 / span 2;
    background-color: #fff;
    justify-content: center;
    height: 25rem;
}

.showcase-img {
    height: 12.5rem;
    opacity: 1;
}

img.small {
    width: 25rem;
    height: 25rem;
}

img.big {
    width: 50rem;
    height: 25rem;
}

.background-about-us {
    height: 100rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5rem;
    position: absolute;
    margin: 10rem auto;
    z-index: 10;
}

.background-about-us > figure {
    display: flex;
    width: 100rem;
}

.background-about-us > figure > img {
    filter: blur(2.5rem);
    width: 100rem;
}

.background-about-us > figure > img:hover {
    animation-name: bg-balls;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.background-about-us > figure > img:not(:hover) {
    animation-name: quit-bg-balls;
    animation-duration: 0.75s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

.about-us-1 {
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.about-us-1-content {
    top: 0;
    display: flex;
    gap: 10rem;
    z-index: 20;
    text-shadow: 0 2px 0.5rem #000;
    padding: 27.5rem 0;
}

.about-us-wrapper > figure {
    position: absolute;
    z-index: 10;
}

.about-us-wrapper > figure > img {
    height: 70vh;
}

.about-us-wrapper {
    top: 0;
    position: sticky;
    width: 50%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10rem 0;
}

.about-us-box-1 {
    top: 0px;
    position: sticky;
    display: flex;
    justify-content: center;
    gap: 15rem;
    z-index: 20;
}

.about-us-box-1 > figure {
    height: 90vh;
    position: relative;
}

.text-about-us-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    width: 45rem;
}

.text-about-us-1 > figure {
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.text-about-us-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    width: 50rem;
}

.p-about-us-1 {
    font-size: 2rem;
    color: #fff;
}

.about-us-3 {
    background: url("./../img/background/background2.jpg");
    height: 120vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}

.about-us-3-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10rem;
}

.about-us-3-wrapper {
    top: 0;
    position: sticky;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.about-us-3-wrapper > figure {
    display: flex;
    align-items: center;
}

.about-us-3-wrapper > figure > img {
    height: 70rem;
}

.about-us-4 {
    display: flex;
    /* flex-direction: column; */
    gap: 5rem;
    align-items: center;
    /* padding: 5rem 0; */
    
}

.text-about-us-2 {
    display: flex;
    gap: 1.5rem;
}

.ator-1 {
    width: 50rem;
    margin: 20rem 0 0 0;
    position: sticky;
    bottom: 0;
}

.collections-showcase {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10rem;
    padding: 10rem;
}

.collection-options {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem 5rem;
    width: 90%;
}

.collection {
    display: flow-root;
    background-color: #2e2d2d;
    border-radius: 3rem;
    padding: 2rem;
}

.collection > .img-collection {
    background-color: #fff;
    margin: 0 0 2rem 0;
    padding: 2rem;
    border: rgb(105, 103, 103) solid 1px;
    border-radius: 2rem;
    width: inherit;
    width: 20rem;
    height: 20rem;  
    cursor: pointer;
}

.ball-name {
    color: white;
    text-align: center;
    font-size: 2rem;
}

.price {
    color: green;
    text-align: center;
    font-size: 4rem;
}

.price-pro {
    text-decoration: line-through;
    color: rgb(206, 75, 35);
    text-align: center;
    font-size: 2.5rem;
    font-style: italic;
}

.price-pro::before {
    text-decoration: none;
    color: rgb(206, 75, 35);
    text-align: center;
    font-size: 2.5rem;
    content: "de ";
    font-style: italic;
}

.price-pro::after {
    text-decoration: none;
    color: rgb(206, 75, 35);
    text-align: center;
    font-size: 2.5rem;
    content: " por";
    font-style: italic;
}

.showcase-index {
    width: 1300px;
    height: 1000px;
    background-color: #242424;
    border-radius: 10px;
    margin: 21px;
}

.hidden {
    opacity: 0;
    transition: all 2.5s;
    filter: blur(5px);
    /* transform: translateX(-100%); */
}

.hidden-left {
    opacity: 0;
    transition: all 2.5s;
    transform: translateX(-100%);
}

.hidden-right {
    opacity: 0;
    transition: all 2.5s;
    transform: translateX(100%);
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}


