.main-wrapper {
    display: flex;
}

.side-bar {
    width: fit-content;
    background-color: #242424;
    /* height: calc(100vh - 20rem); */
    height: fit-content;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2.5rem 4rem;
    font-size: 1.85rem;
    border-radius: 1.42rem;
    margin-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.produto {
    border-radius: 1.42rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 2rem;
    background-color: #242424;
}

.filter-checkbox {
    display: none;
}

.filter-checkbox-label {
    display: inline-flex;
    align-items: center;
    gap: 0.2rem;
}

.filter-checkbox-label > figure {
    display: inline-block;
    align-items: center;
    border: white solid 2px;
    border-radius: 0.85rem;
    background-color: #fff;
    width: 1.7rem;
    height: 1.7rem;
    transition: all 0.125s;
}

.filter-checkbox:checked + .filter-checkbox-label > figure {
    background-color: #242424;
}

.filter-title {
    color: white;
    font-size: 3rem;
}

.span {
    color: white;
    font-size: 1.9rem;
}

/* .showcase > div {
    display: inline-block;
} */

.img-produto > img {
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.img-produto {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.showcase {
    padding: 2rem;
    width: 171.42rem;
    min-width: 800px;
    max-height: 1100px;
    overflow: hidden;
    gap: 6rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #242424;
    justify-content: space-between;
    border-radius: 2rem;
}

.nome-produto{
    color: white;
    text-align: center;
    font-size: 2.57rem;
}
