.side-bar {
    width: 10vw;
    background-color: #242424;
    height: calc(100vh - 20rem);
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2rem;
    font-size: 1.85rem;
    border-radius: 1.42rem;
    margin-left: 2rem;
}

.produto {
    border-radius: 1.42rem;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-top: 2rem;
    background-color: #242424;
}

.span{
    color: white;
    font-size: 2rem;
}

/* .showcase > div {
    display: inline-block;
} */

.img-produto > img {
    width: 20rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.img-produto {
    padding: 1rem;
    background-color: white;
    border-radius: 1rem;
    cursor: pointer;
}

.showcase {
    padding: 2rem;
    width: 171.42rem;
    gap: 6rem;
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    background-color: #242424;
    justify-content: space-between;
    border-radius: 2rem;
}

.nome-produto{
    color: white;
    text-align: center;
    font-size: 2.57rem;
}
