#side-bar {
    transition: all 0.25s ease-out;
    position: fixed;
    z-index: 40;
    top: 0;
    left: 0;
    width: 45rem;
    height: 100vh;
    background-color: #353535;
    margin: 0 0 0 -45rem;
    padding: 1.5rem 2rem;
    border-right: #c9ab00 solid 1px;
}

#thick-fog {
    transition: all 0.25s ease-out;
    display: none;
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.25s ease-out;
    opacity: 0;
    background-color: #20202080;
}

#menu-hamburguer {
    display: none;
}

.side-bar-title {
    color: #f5f5f5;
    font-size: 4rem;
}

.close-menu-icon {
    transition: all 0.25s ease-out;
    position: absolute;
    top: 2.75rem;
    right: 2rem;
    width: 5rem;
    aspect-ratio: 1 / 1;
    background-color: #00000000;
    outline: #00000000 solid 3px;
    border-radius: 2.5rem;
}

.close-menu-icon:hover {
    background-color: #777;
    outline: #777 solid 3px;
}

.intra-nav-menu {
    display: flex;
    flex-direction: column;
}

.intra-nav-menu > li > span {
    cursor: pointer;
    display: flex;
    align-items: flex-end;
    color: #f5f5f5;
    font-size: 2.5rem;
}

.intra-nav-menu > li > span > .thin-text {
    cursor: pointer;
    color: #777;
    font-size: 1.75rem;
    text-transform: uppercase;
    padding: 0 0 0.1rem 0.35rem;
}

