/* Arquivo de css padronizado para todas as páginas */

/*
    Cores do Site

    Dominante: #e29d07
    Recessivo: #ddb04f
*/


* {
    padding: 0%;
    margin: 0%;
    /* font-size: 1vh; */
    font-size: 7px;
    box-sizing: border-box;
}

@font-face {
    font-family: DMSans;
    src: url("../fonts/DMSans/DMSans-Regular.ttf");
}

@font-face {
    font-family: Naville;
    src: url("../fonts/Naville/Naville-Regular.ttf");
}

body {
    font-family: DMSans;
    background-color: #141313;
}

input, option, select {
    outline: none;
}

h1 {
    font-weight: normal;
}

.flex-container {
    display: flex;
}

.inline-block-container{
    display: inline-block;
}

.small-icon {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: transparent;
    color: transparent;
}

.local-link {
    text-decoration: underline;
    font-weight: bold;
    color: #000;
}

.limbo {
    height: 10.2px;
}

.price {
    color: #ffe44e;
    /* text-align: center; */
    font-size: 4rem;
}

.small-price {
    color: #ffe44e;
    /* text-align: center; */
    font-size: 2rem;
}

.price-box {
    transition: all 0.25s ease-out;
    margin: -4rem 0 0 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.hidden {
    display: none;
}

.fixed {
    display: block;
    width: 100%;
    position: fixed;
    bottom: 0;
}

.fixed::before {
    content: "a";
    height: 25rem;
    background-color: aqua;
    display: block;
    width: 100%;
    position: relative;
    bottom: 0;
}
