const mongoose = require("mongoose");
const { exit } = require("process");
const connectionString = "<YOUR_CONNECTION_STRING>";

try {
    mongoose.connect(connectionString);
} catch (error) {
    console.log(error);
    exit(1);
} finally {
    mongoose.connection.once("open", () => {
        console.log("CONECTADO AO MONGO COM SUCESSO.\n");
    })
}

module.exports = mongoose.connection;
